<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/style.css">

  </head>
  <nav>
    <h1>REGISTRATION NUMBERS</h1>
  </nav>
  <body>
    {{{body}}}
  </body>

</html>
