<div class="container">

<title>Registration Numbers</title>
<h2>Enter your registration number</h2>
<form class="form" action='/reg_numbers' method="post">
  <input type="text" name="regNumberInput" value="" class="regNumberInput" placeholder="enter the number here">
  <button type="submit" name="add" value="add" class="addBtn">Add</button>
  <br/>
  <br/>
  <input type="radio" name="city" value="All">All
  <input type="radio" name="city" value="Bellville">Bellville
  <input type="radio" name="city" value="Malmesbury">Malmesbury
  <input type="radio" name="city" value="Cape Town">Cape Town
  <br/>
  <br/>
  <button type="button" name="filter" value="filter" class="filterBtn">Show</button>
  <br>
  <br>
</form>
<br/>
<ul>
  {{#each plate}}
  <li class="plates" name="plates">{{this}}</li>
  {{/each}}
</ul>
</div>
